.contest-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 15px;

  .datagrid-container {
    flex-grow: 1;
  }
}

.contest-color-cell {
  display: flex;
  align-items: center;

  .square {
    height: 15px;
    width: 15px;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
  }
}
