.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bounce {
  display: flex;
  align-items: center;
  padding-top: 5px;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
